.no-result-container{
    background-color: #fff;
    width: 70%;
    border-radius: 31px;
    text-align: center;
    margin-top: 275px;
}
.no-result-container h5{
    color: #B40606;
    padding: 0;
    margin: 0;
    /* font-size: 20px;
    font-weight: 600; */
}